.App header{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: auto;
    justify-items: flex-start;
    justify-content: space-between;
    padding: 1px;
}

.App header h1{
    font-size: 30px;
    color: white;
    margin-left: 30px;
}

.App header button{
    width: 10%;
    height: 40px;
    margin-top: 25px;
    margin-right: 40px;
    color: #333333;
    font-weight: bold;
    background: #FF7200;
    border-style: none;
    border-radius: 10px;
    
}

.App header button:hover{
    background: #696868;
    color: white;
    transition: all 0.5s;
}


.Content{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 80vh;
    justify-content: space-between;
    margin-top: 20px;
}

.Content aside{
    width: 20%;
    height: auto;
    border-right: 1px solid #5a5959; 
}

.Content section{
    width: 74%;
    height: auto;
}

nav{
    display: flex;
    flex-flow: column wrap;
     
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    width: 70%;
    height: auto;

    justify-items: center;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    
}


#temp{
    filter: drop-shadow(
        0 0 10px rgb(255, 114, 0)
    );
}
#hum{
    filter: drop-shadow(
        0 0 10px rgb(62, 169, 255)
    );
}
#radi{
    filter: drop-shadow(
        0 0 10px rgb(255, 233, 64)
    );
}
#lluvi{
    filter: drop-shadow(
        0 0 10px rgb(96, 124, 139)
    );
}




#hover-temp:hover{
    transition: all 1s;
    background: #FF7200;
}
#hover-hum:hover{
    transition: all 1s;
    background: #42AAFF;
}
#hover-radi:hover{
    transition: all 1s;
    background: #FFE940;
}
#hover-lluvi:hover{
    transition: all 1s;
    background: #189EB0;
}

nav ul li {
    color: white; 
    margin-left: 20px;
    font-weight: bold;
    transition: all 1.2s;

}

section{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
